/* -----
SVG Icons - svgicons.sparkk.fr
----- */
@import "../function/function";

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: getColor(icon);
}

.svg-icon circle {
  stroke: getColor(icon);
  stroke-width: 1;
}
