<div class="flex-area flex-row justify-content-start">
  <div class="flex-link box-shadow-primary bg-light px-1 mr-1">
    <div class="flex-area flex-row align-items-center mb-1">
      <div><img class="img-round mr-1" src="https://dummyimage.com/64x64/000/ffffff&text=icon" alt="icon user"/></div>
      <div>Borivoje</div>
    </div>
    <div class="text-sm">
      Udemy is a life saver. I don't have the time or money for a college education. My goal is to become a freelance web developer, and thanks to Udemy, I'm really close.
    </div>
  </div>
  <div class="flex-link box-shadow-primary bg-light px-1 mr-1">
    <div class="flex-area flex-row align-items-center mb-1">
      <div><img class="img-round mr-1" src="https://dummyimage.com/64x64/000/ffffff&text=icon" alt="icon user"/></div>
      <div>Dipesh</div>
    </div>
    <div class="text-sm">
      I believe in lifelong learning and Udemy is a great place to learn from experts. I've learned a lot and recommend it to all my friends.</div>
  </div>
</div>
